{% extends 'base.html' %}
{% block title %}Calendar{% endblock %}

{% block content %}

{% load static %}


<div class="loader"></div> 
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4 class="text-primary">New Calendar</h4>
            <p class="mb-0">Add New Calendar</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><a href="/calendar">New Calendar</a>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="row m-rl w-100">


                    <div class="col-lg-3 float-right col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary w-100 h-56" data-bs-toggle="modal"
                                data-bs-target="#newAppointment">New
                                Calendar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div id="calendar" class="col-12 m-t-2"></div>
</div>
<div class="modal fade selectRefresh" id="newAppointment" tabindex="-1" aria-labelledby="exampleModalLabelOne">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelOne"> New Reservation </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <form class="row align-items-start" id="eventForm">
                    {% csrf_token %}
                    <input type="hidden" id="id_input" value="">
                    <div class="col-md-6 col-sm-12 form-group">
                        <label for="endDate">First Name</label>
                        <input class="form-control"  id="ferst_Name" >
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label for="endDate">Last Name</label>
                        <input class="form-control"  id="last_name">
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <label for="remainingAmount">Type of Appointment</label>

                        <select id="chamber" class="form-control form-select">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                        </select>

                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label for="startDate">Start Date</label>
                        <input class="form-control" id="startDate" type="date">
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label for="endDate">End Date</label>
                        <input class="form-control" id="endDate" type="date">
                    </div>

                    <!-- Add these fields inside the modal-body div -->
                    <div class="col-md-6 col-sm-12 form-group">
                        <label for="totalPrice">Total Price</label>
                        <input class="form-control" id="totalPrice" onkeyup="calculateRemainingAmount(1)" type="number" min="0">
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label for="amountPaid">Amount Paid</label>
                        <input class="form-control" onkeyup="calculateRemainingAmount(1)" id="amountPaid"
                            type="number" min="0">

                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <label for="remainingAmount">Remaining Amount</label>

                        <i id="paymentStatusIcon" class=""></i>

                        <input class="form-control" id="remainingAmount" type="number" min="0" readonly>

                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <label for="remainingAmount">Type of Reservation</label>

                        <select id="typeAppointment" class="form-control form-select">
                            <option value="Booking">Booking</option>
                            <option value="directly">Directly</option>
                            <option value="Expedia Group">Expedia Group</option>
                            <option value="Airbnb">Airbnb</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Reservation">Reservation</option>
                        </select>

                    </div>
                    <br>
                    {% comment %} <div class="col-lg-12">
                        <div class="form-group">
                            <label>Motif Patient</label>
                            <textarea id="motif" class="form-control" rows="3"></textarea>
                        </div>
                    </div> {% endcomment %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn badge-primary" onclick="addEvent()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- <div > -->
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                         </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="insertHere">
                    <p><strong>Client Name:</strong> <span id="patientName"></span></p>
                    <!-- <p><strong>Doctor Name:</strong> <span id="doctorName"></span></p> -->
                    <p><strong>Fait:</strong> <span id="Fait"></span></p>
                    <p><strong>Start Date:</strong> <span id="startDate_display"></span></p>
                    <p><strong>End Date:</strong> <span id="endDate_display"></span></p>
                    <p><strong>Total Price:</strong> <span id="totalPrice_display"></span></p>
                    <p><strong>Prix_R:</strong> <span id="prix_R"></span></p>
                    <p><strong>Cin_Pas:</strong> <span id="Cin_Pas"></span></p>
                    <p><strong>Nationalite:</strong> <span id="Nationalite"></span></p>
                    <p><strong>Num_phone:</strong> <span id="Num_phone"></span></p>
                    <p><strong>N_T:</strong> <span id="N_T"></span></p>
                    <p><strong>Domicile:</strong> <span id="domicile"></span></p>
                    <p><strong>DateN:</strong> <span id="dateN"></span></p>
                    <p><strong>N_chamber:</strong> <span id="N_chamber"></span></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>

<script>
    const url = "{% url 'calendar_save' %}";
    const updateUrl = "{% url 'calendar_edit' pk='pk_placeholder' %}";

    const calendarEl = document.getElementById('calendar');
    var prevDates = null; // Variable to store the previous dates
    // var Patients = JSON.parse('{{ Patients|safe }}');
    const csrfToken = $('[name="csrfmiddlewaretoken"]').val();
    const url_list = "{% url 'appointment_list' %}"
    let start_date=null;
    let end_date=null;
    document.addEventListener('DOMContentLoaded', function () {
        // var calendarEl = document.getElementById('calendar');
    //    console.log(start_date,end_date)
        // Initialize your calendar here (you need to have the calendar object)
        // const calendar = new FullCalendar.Calendar(calendarEl, {
        //     // your calendar configuration options
        // });
        // console.log(start_date,end_date)
        console.log(start_date,end_date)

        fill_calendar(start_date,end_date)
        // Fetch events from Django and add them to the calendar
        
    });

    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        editable: true,
        draggable: true,
        droppable: true,
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        defaultView: 'timeGridWeek', // Display in week view by default
        // eventTimeFormat: {
        //     hour: 'numeric',
        //     minute: '2-digit',
        //     meridiem: 'short'
        // },
        // slotLabelFormat: {
        //     hour: 'numeric',
        //     minute: '2-digit',
        //     omitZeroMinute: false,
        //     meridiem: 'short'
        // },
        nowIndicator: true,
        // businessHours: {
        //     // daysOfWeek: [1, 2, 3, 4, 5, 6], // Monday - Friday are working days
        //     startTime: '09:00', // Working day start time
        //     endTime: '17:00' // Working day end time
        // },
        datesSet: function(info) {
            // console.log(info.start,info.end)

            start_date=formatDateToDMY(info.start)
            end_date=formatDateToDMY(info.end)

            var currentDates = {
                start: info.start,
                end: info.end
            };

            if (prevDates !== null) {
                // Compare current dates with previous dates
                if (currentDates.start < prevDates.start) {
                    // User navigated to the previous month or week
                    fill_calendar(formatDateToDMY(currentDates.start),formatDateToDMY(currentDates.end))
                    console.log("User navigated to the previous month or week");
                }
            }

            // Update previous dates with current dates for the next comparison
            prevDates = currentDates;
        },
        // dayRender: function (info) {
        //     // Check if the day is Sunday
        //     if (info.date.getDay() === 0) {
        //         // Change the background color of Sunday
        //         info.el.style.backgroundColor = 'black'; // Set your desired background color
        //     }
        // },
        // events: [
            // {
            //     title: 'Meeting with John and a very long title that should wrap to the next line',
            //     start: new Date('2024-06-05 12:00:00'),
            //     end: new Date('2024-06-05T12:00:00'),
            // },
            // {
            //     title: 'Conference call',
            //     start: new Date('2024-06-05 12:00:00'),
            //     end: new Date('2024-06-05T12:00:00'),
            // },
            // {
            //     title: 'Sunday Morning',
            //     start: '2024-06-05T12:00:00',
            //     end: '2024-06-05T12:00:00',
            // }
            //,
            // {
            //     title: 'Sunday Afternoon',
            //     start: '2023-12-10T13:00:00',
            //     end: '2023-12-10T17:00:00',
            //     rendering: 'background', // Render as background to indicate day off
            //     color: '#FF7777' // Set a color to distinguish day off
            // },
        // ],
        eventDrop: (eventInfo) => {
            // console.log("change date",eventInfo)
            const newDate = eventInfo.event.start;
            console.log(eventInfo.event.extendedProps)
            // alert('check')
            const updatedEventData = {
                title: eventInfo.event.title,
                start: eventInfo.event?.start,
                end: eventInfo.event?.end,
                motif: eventInfo.event.extendedProps?.motif,
                extendedProps: {
                    patient_id: eventInfo.event.extendedProps?.patient_id,
                    doctor_id: eventInfo.event.extendedProps?.doctor_id,

                }
            };
            var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            console.log(updateUrl)

            $.ajax({
                type: 'POST',
                url: updateUrl.replace('pk_placeholder', eventInfo.event.extendedProps?.Appointment_id),  // Use the URL name defined in your urls.py
                data: JSON.stringify(updatedEventData),
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                },
                success: function (data) {
                    // console.log('data is', data.success)
                    if (data.success) {
                        alert('Event updated!');
                    } else {
                        alert('Failed to update event data.');
                    }
                },
                error: function () {
                    alert('Error making the AJAX request.');
                }
            });

            alert(`Appointment "${eventInfo.event.title}" moved to ${newDate.toLocaleDateString()}`);
        },
        eventContent: function (arg) {
            return {
                html: `<div class="fc-content">${arg.event.title}</div>`
            };
        },
        eventDidMount: function (arg) {
            arg.el.querySelector('.fc-content').addEventListener('click', function () {
                // alert('arg Mount')
                // console.log('event', arg.event)
                // alert('event', arg.event)
                openEventModal(arg.event);
                // alert('Event clicked! Title: event !!!!!!! ' + arg.event.title);
            });
        },
        eventTimeFormat: { hour: 'numeric', minute: '2-digit', meridiem: 'lowercase' },
    });
    calendar.render();
    // calendar.setOption('eventAfterAllRender', function (view) {
    //             // Fetch the current date
    //             var currentDate = new Date();
    //             var currentDateString = currentDate.toISOString().split('T')[0];  // Get the current date as 'YYYY-MM-DD'

    //             // Find the day cell for the current date and change its background color
    //             var currentDayCell = $('.fc-day[data-date="' + currentDateString + '"]');
    //             currentDayCell.css('background-color', 'black');  // Change the color as needed
    //         });

    function getSelectedOptionId(selectId) {
        const selectElement = document.getElementById(selectId);
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        return selectedOption.value;
    }
    // function addEvent() {
    //     const startDate = document.getElementById('startDate').value;
    //     const endDate = document.getElementById('endDate').value;

    //     const patientSelect = document.getElementById('patientSelect');
    //     const doctorSelect = document.getElementById('doctorSelect');

    //     var totalPrice = parseFloat(document.getElementById('totalPrice').value) || 0;
    //     var amountPaid = parseFloat(document.getElementById('amountPaid').value) || 0;

    //     // const timeRange = document.getElementById('timeSelect').value;
    //     const motif = document.getElementById('motif').value;
    //     const typeAppointment = document.getElementById('typeAppointment').value;
    //     // alert("hiii"+typeAppointment)
    //     // const patientName = document.getElementById('patientSelect').value;
    //     // const doctorName = document.getElementById('doctorSelect').value;

    //     const doctorName = doctorSelect.value;
    //     const patientName = patientSelect.value;
    //     const patienttext = $('#' + patientName).text();
    //     const doctorText = $('#' + doctorName).text();

    //     if (startDate && endDate && patientName !== 'Select Patient...' && doctorName !== 'Select Doctor...' && typeAppointment) {

    //         var startDateTime = new Date(startDate);
    //         var endDateTime = new Date(endDate);

    //         const eventData = {
    //             title: `${patienttext} - ${motif}`,
    //             start: startDateTime,
    //             end: endDateTime,
    //             // motif: motif,
    //             extendedProps: {
    //                 start: startDateTime,
    //                 end: endDateTime,
    //                 patient_id: getSelectedOptionId('patientSelect'),
    //                 doctor_id: getSelectedOptionId('doctorSelect'),
    //                 totalPrice: totalPrice,
    //                 amountPaid: amountPaid,
    //                 Statut_de_paiement: totalPrice - amountPaid == 0,
    //                 typeAppointment: typeAppointment

    //             }
    //         };
    //         const calendarEl = document.getElementById('calendar');

    //         var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
    //         // console.log('csrf tokken',csrfToken)
    //         // console.log('url',url)
    //         // alert('check')
    //         // alert(`Event added to the calendar!`);
    //         $.ajax({
    //             type: 'POST',
    //             url: url,
    //             data: JSON.stringify(eventData),
    //             contentType: 'application/json',
    //             beforeSend: function (xhr) {

    //                 xhr.setRequestHeader('X-CSRFToken', csrfToken);
    //             },
    //             success: function (data) {
    //                 // console.log('data is ', data)
    //                 if (data.success) {
    //                     // const calendarEl = $('#calendar')[0];
    //                     // calendar.addEvent(eventData);
    //                     calendar.addEvent(eventData);

    //                     alert('Event added to the calendar!');
    //                     // document.getElementById('eventForm').reset();

    //                 } else {
    //                     alert('Failed to save event data.');
    //                 }
    //             },
    //             error: function () {
    //                 alert('Error making the AJAX request.');
    //             }
    //         });

    //         document.getElementById('eventForm').reset();
    //     } else {
    //         alert('Please fill in all fields.');
    //     }
    // }


    function addEvent() {
        // Your form validation logic goes here
        const ferstName = document.getElementById('ferst_Name').value;
        const lastName = document.getElementById('last_name').value;
        const chamber = document.getElementById('chamber').value;
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;
        const totalPrice = parseFloat(document.getElementById('totalPrice').value) || 0;
        const amountPaid = parseFloat(document.getElementById('amountPaid').value) || 0;
        const remainingAmount = parseFloat(document.getElementById('remainingAmount').value) || 0;
        const typeAppointment = document.getElementById('typeAppointment').value;

        // Clear previous error messages
        $('.error-message').text('');

        // Validation logic
        var isValid = true;
        console.log(ferstName, lastName, chamber, startDate, endDate, totalPrice, amountPaid, remainingAmount, typeAppointment)
        if (!ferstName || !lastName || chamber === "Select Chamber..." || !startDate || !endDate ||
            isNaN(totalPrice) || isNaN(amountPaid) || isNaN(remainingAmount) || typeAppointment === "Select Type") {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error!',
                text: 'Please fill in all required fields.',
            });
            return;
        }

        // Check if end date is greater than start date
        var startDateTime = new Date(startDate);
        var endDateTime = new Date(endDate);

        if (endDateTime <= startDateTime) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error!',
                text: 'End date must be greater than the start date.',
            });
            return;
        }

        // If validation passes, proceed with AJAX request
        const eventData = {
            // Customize this based on your data structure
            firstName: ferstName,
            lastName: lastName,
            chamber: chamber,
            startDate: startDate,
            endDate: endDate,
            extendedProps: {
                totalPrice: totalPrice,
                amountPaid: amountPaid,
                remainingAmount: remainingAmount,
                typeAppointment: typeAppointment,
            }
        };

        // console.log("eventData", eventData)
        // alert('see the console')
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        // AJAX request
        $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify(eventData),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrfToken);
            },
            contentType: 'application/json',
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Appointment added',
                    });
                    // Optionally, you can reset the form or perform other actions
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Failed',
                        text: 'Failed to save event data.',
                    });
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Request Failed',
                    text: 'Failed to save event data.',
                });
            }
        });
    }
    //document.addEventListener('DOMContentLoaded', function () {
    function openEventModal(event) {
        var modalBody = document.getElementById('eventModalBody');
        console.log('event is ', event.extendedProps)
        // Update spans with event details
        var prenom = (event && event.extendedProps && event.extendedProps.Prenom !== undefined) ? event.extendedProps.Prenom : "";

        document.getElementById('myModalLabel').textContent=event.extendedProps.Nom +" "+  prenom
        document.getElementById('patientName').textContent = event.extendedProps.Nom;
        document.getElementById('Cin_Pas').textContent = event.extendedProps.Cin_Pas ?? "No Data"
        document.getElementById('dateN').textContent = event.extendedProps.dateN  ?? "No Data";
        document.getElementById('Nationalite').textContent = event.extendedProps.Nationalite  ?? "No Data";
        document.getElementById('Fait').textContent = event.extendedProps.Fait;
        document.getElementById('N_T').textContent = event.extendedProps.N_T;
        document.getElementById('domicile').textContent = event.extendedProps.Domicile;
        document.getElementById('startDate_display').textContent =event.extendedProps.Check_in
        document.getElementById('endDate_display').textContent = event.extendedProps.Check_out
        document.getElementById('Num_phone').textContent = event.extendedProps?.Num_phone ?? "No Data"
        document.getElementById('N_chamber').textContent = event.extendedProps.N_chamber;
        document.getElementById('totalPrice_display').textContent = event.extendedProps.Prix;
        document.getElementById('prix_R').textContent = event.extendedProps.Prix_R;
        // const paymentStatusIcon = document.getElementById('remainingAmount_display');
        // paymentStatusIcon.textContent = event.extendedProps.totalPrice - event.extendedProps.amountPaid;

        // if (event.extendedProps.totalPrice - event.extendedProps.amountPaid === 0) {
        //     paymentStatusIcon.className = 'fas fa-check-circle text-success'; // Icon for payment complete
        // } else {
        //     paymentStatusIcon.className = 'fas fa-exclamation-circle text-warning'; // Icon for remaining amount
        // }// Open the modal
        $('#eventModal').modal('show');
    }


    // Function to format time as needed
    function customTimeFormat(date) {
        const options = { hour: 'numeric', minute: '2-digit', hour12: true };
        return new Intl.DateTimeFormat('en-US', options).format(date);
    }
    //});


    // function getNameById(selectId, targetId) {
    //     var names = selectId === 'patientSelect' ? Patients : {};
    //     return names[targetId] || null; // Return null if ID is not found
    // }

    // var patientName = getNameById('patientSelect', 'Patient_0cf40861-d2e0-4358-8e3e-245a62efd741');
    // console.log('Patient Name with ID 2:', patientName);
    function calculateRemainingAmount() {
        var totalPrice = parseFloat(document.getElementById('totalPrice').value) || 0;
        var amountPaid = parseFloat(document.getElementById('amountPaid').value) || 0;

        var remainingAmount = totalPrice - amountPaid;
        document.getElementById('remainingAmount').value = remainingAmount.toFixed(2);
        var paymentStatusIcon = document.getElementById('paymentStatusIcon');
        console.log(remainingAmount);
        if (remainingAmount === 0) {
            paymentStatusIcon.className = 'fas fa-check-circle text-success'; // Icon for payment complete
        } else {
            paymentStatusIcon.className = 'fas fa-exclamation-circle text-warning'; // Icon for remaining amount
        }
    }
    function convertDateFormat(originalDate) {
    var parts = originalDate.split('/');
    var jsDate = new Date(parts[2], parts[1] - 1, parts[0]); // Assuming "DD/MM/YYYY" format
    var formattedDate = jsDate.getFullYear() + '-' + ('0' + (jsDate.getMonth() + 1)).slice(-2) + '-' + ('0' + jsDate.getDate()).slice(-2) + ' 12:00:00';
    return formattedDate;
}
    function formatDateToDMY(originalDate) {
        var date = new Date(originalDate);
        var day = ('0' + date.getDate()).slice(-2);
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var year = date.getFullYear();

        return day + '/' + month + '/' + year;
    } 
    function fill_calendar(start_date,end_date) {

        $.ajax({
            url: url_list,  // Replace with your Django endpoint to fetch events
            type: 'post',
            dataType: 'json',
            data: {
                'start_date': start_date,
                'end_date': end_date
            },
            headers: {
                'X-CSRFToken': csrfToken
            },
            success: function (data) {
                console.log('Onloead', data)
                // console.log('start_date', start_date,"end_date",end_date)
                if (data.success) {
                    // Loop through the events and add them to the calendar
                    $('.loader').hide()
                    
                    Object.values(data.events).forEach(function (eventData) {
                        console.log("eventData", eventData)
                        calendar.addEvent({
                            title: eventData?.Nom + " "+ eventData?.Prenom,
                            start: convertDateFormat(eventData?.Check_in),
                            // start: "2024-06-09T16:00:00",
                            // end: "2024-07-09T16:00:00",
                            
                            end: convertDateFormat(eventData?.Check_out),
                            extendedProps: {
                                start: convertDateFormat(eventData?.Check_in),
                                end: convertDateFormat(eventData?.Check_out),
                                Nom: eventData?.Nom+" "+eventData?.Prenom,
                                Check_in: eventData?.Check_in,
                                Check_out: eventData?.Check_out,
                                Fait: eventData?.Fait,
                                N_T: eventData?.N_T,
                                Domicile: eventData?.Domicile,
                                N_chamber: eventData?.N_chamber,
                                Prix: eventData?.Prix,
                                Prix_R: eventData?.Prix_R,
                                Cin_Pas: eventData?.Cin_Pas,
                                DateN: eventData?.DateN,
                            }
                            // Add other event properties as needed
                        });
                    });

                calendar.render();  // Render the calendar after adding events
                } else {
                    console.error('Failed to fetch events.');
                }
            },
            error: function (err) {
                console.log("erorre is ",err)
                console.error('Error making the AJAX request.');
            }
        });
    }
</script>
<!-- <script>
    const calendarEl = document.getElementById('calendar');
    console.log(calendarEl)
    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        editable: true,
        draggable: true,
        droppable: true,
        events: [
            {
                title: 'Meeting with John ',
                start: new Date('2023-12-05'),
                end: new Date('2023-12-05T12:00:00'),
            },
            {
                title: 'Conference call',
                start: new Date('2023-12-07'),
                end: new Date('2023-12-07T15:00:00'),
            },
        ],
        eventDrop: (eventInfo) => {
            const newDate = eventInfo.event.start;
            alert(`Appointment "${eventInfo.event.title}" moved to ${newDate.toLocaleDateString()}`);
        },
    });

    calendar.render();
</script> -->

<style>
    /* Custom CSS for event title word wrapping */
    .fc-event-title {
        white-space: normal !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fc-non-business {
        background-color: rgba(255, 0, 0, 0.603) !important;
    }
    /* .fc-event-today{
        background-color: black;
    } */
    .loader {
        background-color: red   ;
        position: fixed;
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
        z-index: 9999;
    }
    /* HTML: <div class="loader"></div> */
.loader {
    
  --R: 30px;
  --g1: #514b82 96%, #0000;
  --g2: #eeeeee 96%, #0000;
  width: calc(2*var(--R));
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  -webkit-mask: linear-gradient(#000 0 0);
  animation: l30 2s infinite linear;
}
.loader::before,
.loader::after{
  content:"";
  grid-area: 1/1;
  width: 50%;
  background:
    radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
    radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
    radial-gradient(farthest-side,var(--g2)) calc(var(--R) + 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
    radial-gradient(farthest-side,var(--g1)) 0 calc(-1*var(--R)),
    radial-gradient(farthest-side,var(--g2)) calc(var(--R) - 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
    radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
    radial-gradient(farthest-side,var(--g2)) calc(-1*var(--R))  0,
    radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) + 0.5*var(--R)   - var(--R));
   background-size: calc(2*var(--R)) calc(2*var(--R));
   background-repeat :no-repeat;
}
.loader::after {
 transform: rotate(180deg);
 transform-origin: right;
}

@keyframes l30 {
  100% {transform: rotate(-1turn)}
}
</style>


{% endblock %}