{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static "main/css/fontsdashboard.css" %}">
<link rel="stylesheet" href="{% static "main/css/style.css" %}">

<div class="row page-titles mx-0">
    <div class="col-lg-12 p-md-0">
        <h4 class="text-primary">Hi <span class="names">{{ user.first_name }} {{ user.last_name }}</span></h4>
        
    </div>
</div>



<div class="new-patients main_container">
    <div class="row">
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="widget card card-primary bg-card1">
                <div class="card-body">
                    <div class="media text-center">
                        <span>
                            <i class="fas fa-solid fa-cash-register fa-2x"></i>
                        </span>
                        <div class="media-body">
                            <span class="text-white">Total Revenue</span>
                            <h3 class="mb-0 text-white">{{total_prix}} DH</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="widget card card-danger bg-card2">
                <div class="card-body">
                    <div class="media text-center">
                        <span>
                            <i class="fas fa-solid fa-door-closed fa-2x"></i>
                        </span>
                        <div class="media-body">
                            <span class="text-white">Rooms not available</span>
                            <h3 class="mb-0 text-white">{{ total_Rooms_Av }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="widget card card-primary bg-card3">
                <div class="card-body">
                    <div class="media text-center">
                        <span>
                            <i class="fas fa-door-open fa-2x"></i>
                        </span>
                        <div class="media-body">
                            <span class="text-white">Available rooms </span>
                            <h3 class="mb-0 text-white">{{ total_Rooms_N_Av }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="widget card card-primary bg-card4">
                <div class="card-body">
                    <div class="media text-center">
                        <span>
                            <i class="fas fa-wallet fa-2x"></i>
                        </span>
                        <div class="media-body">
                            <span class="text-white"> Cash / Credit Card</span>
                            <h4 class="mb-0 text-white">{{total_prix_Cash}}DH / {{total_prix_Card}}DH </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% if user.last_name  == "Elyahyaoui" %}
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="widget card card-primary bg-card4">
                <div class="card-body">
                    <div class="media text-center">
                        <span>
                            <i class="fas fa-dollar-sign fa-2x"></i>
                        </span>
                        <div class="media-body">
                            <span class="text-white">Total Month</span>
                            <h4 class="mb-0 text-white">{{ total_prix_month }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="widget card card-primary bg-card4">
                <div class="card-body">
                    <div class="media text-center">
                        <span>
                            <i class="fas fa-money-bill-wave fa-2x"></i>
                        </span>
                        <div class="media-body">
                            <span class="text-white">Total Month Cash</span>
                            <h4 class="mb-0 text-white">{{ total_prix_month_Cash }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="widget card card-primary bg-card4">
                <div class="card-body">
                    <div class="media text-center">
                        <span>
                            <i class="fas fa-credit-card fa-2x"></i>
                        </span>
                        <div class="media-body">
                            <span class="text-white">Total Month Credit</span>
                            <h4 class="mb-0 text-white">{{ total_prix_month_Visa_Card }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="widget card card-primary bg-card4">
                <div class="card-body">
                    <div class="media text-center">
                        <span>
                            <i class="fas fa-solid fa-chevron-up fa-2x"></i>
                        </span>
                        <div class="media-body">
                            <span class="text-white">Total Year</span>
                            <h4 class="mb-0 text-white">{{ total_prix_Year }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    <div class="row">
        {% if user.last_name  == "Elyahyaoui" %}
        <div class="col-lg-8">
            <div class="card shadow widget1">
                <div class="card-header">
                    <h4 class="card-title">Details of Month</h4>
                    <span class="subtitle">{{date_today}}</span>
                </div>
                <div class="card-body"><div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="chart1" width="814" height="325" style="display: block; width: 814px; height: 325px;" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow widget1">
                <div class="card-header">
                    <h4 class="card-title">total for this Month</h4>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-lg-12"><div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <canvas id="chart3" width="590" height="220" style="display: block; width: 590px; height: 220px;" class="chartjs-render-monitor"></canvas>
                        </div>
                        <div class="col-lg-10">
                            <ul class="d-flex justify-content-between m-t-30">
                                <li class="content-widget text-center">
                                    <p class="mb-0 fs-14 text-muted">Revenue</p>
                                    <h4 class="mb-0 fs-20 text-dark-gray" id="totalRevenue" style="color: #499cf5;"></h4>
                                </li>
                                <li class="content-widget text-center">
                                    <p class="mb-0 fs-14 text-muted">Sortie</p>
                                    <h4 class="mb-0 fs-20 text-dark-gray" id="totalSortie" style="color: #f54949;"></h4>
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    <div class="col-lg-4">
        <div class="card shadow widget-2">
            <div class="card-header">
                <h4 class="card-title">Rooms Not Available</h4>
            </div>
            <div class="card-body">
                <div class="panel-body widget-media main-scroll nicescroll-box">
                    <ul class="list-group list-unstyled">
                        {% for value in data_av %}
                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                <div class="d-flex">
                                    {% comment %} <div class="img-patient">
                                        <img src="https://via.placeholder.com/128/f8f8f8/2b2b2b" class="rounded-circle" alt="people">
                                    </div> {% endcomment %}
                                    <div class="media-body">
                                        <h4 class="mb-0">{{value.room}} <br> {{value.nom_in}} {{value.prenom_in}}</h4>
                                        <span>{{ value.Prix_in }} DH</span><br>
                                        <span>Check In: {{ value.date_in }}</span><br>
                                        <span>Check Out: {{ value.date_out }}</span>
                                    </div>
                                </div>
                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow widget-2">
            <div class="card-header">
                <h4 class="card-title">Check Out Rooms </h4>
            </div>
            <div class="card-body">
                <div class="panel-body widget-media main-scroll nicescroll-box">
                    <ul class="list-group list-unstyled">
                        {% for value in data_out %}
                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                <div class="d-flex">
                                    {% comment %} <div class="img-patient">
                                        <img src="https://via.placeholder.com/128/f8f8f8/2b2b2b" class="rounded-circle" alt="people">
                                    </div> {% endcomment %}
                                    <div class="media-body">
                                        <h4 class="mb-0">{{value.room}} <br> {{value.nom}} {{value.prenom}}</h4>
                                        <span>{{ value.Prix }} DH</span><br>
                                        <span>Check Out: {{ value.date_out }}</span>
                                    </div>
                                </div>
                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow widget-2">
            <div class="card-header">
                <h4 class="card-title">Check In Rooms</h4>
            </div>
            <div class="card-body">
                <div class="panel-body widget-media main-scroll nicescroll-box">
                    <ul class="list-group list-unstyled">
                        {% for value in data_in %}
                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                <div class="d-flex">
                                    {% comment %} <div class="img-patient">
                                        <img src="https://via.placeholder.com/128/f8f8f8/2b2b2b" class="rounded-circle" alt="people">
                                    </div> {% endcomment %}
                                    <div class="media-body">
                                        <h4 class="mb-0">{{value.room}} <br> {{value.nom}} {{value.prenom}}</h4>
                                        <span>{{ value.Prix }} DH</span><br>
                                        <span>Check In: {{ value.date_in }}</span><br>
                                        <span>Check Out: {{ value.date_out }}</span>
                                    </div>
                                </div>
                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="card-title">List | {{date_today}}</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example1" class="display nowrap">
                            <thead>
                                <tr>
                                    <th>NOM</th>
                                    <th>Chamber</th>
                                    <th>Check In</th>
                                    <th>Check Out</th>
                                    <th>Prix</th>
                                    <th>Rest</th>
                                    <th>N_T</th>
                                    <th>Status</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for value in data_new %}
                                    <td>
                                        {{ value.Nom }} {{ value.Prenom }}
                                    </td>
                                    <td>{{ value.N_chamber }}</td>
                                    <td> {{ value.Check_in }} </td>
                                    <td> {{ value.Check_out }} </td>
                                    <td>{{ value.Prix }} DH</td>
                                    <td>{{ value.Prix_R }} DH</td>
                                    <td>{{ value.N_T }}</td>
                                    {% if  date_today >= value.Check_out %}
                                        <td class="text-start" >
                                                <span class="badge btn-danger" >Check Out</span>
                                        </td>
                                    {% else %}
                                        <td class="text-start">
                                            <span class="badge badge-primary">Check In</span>
                                        </td>
                                    {% endif %}
                                    <!-- <td>
                                        <a href="javascript:void()" class='mr-4 check'> <span
                                                class='fas fa-check'></span></a>
                                        <a href="javascript:void()" class='delet'> <span
                                                class='fas fa-trash-alt tbl-delet'></span> </a>
                                    </td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var total_price_per_day_data = [
        {% for date, total_price in total_price_per_day.items %}
            {{ total_price }},
        {% endfor %}
    ];
    var total_price_per_day_Sortie = [
        {% for date, total_price_Sortie in total_price_per_day_Sortie.items %}
            {{ total_price_Sortie }},
        {% endfor %}
    ];
    var last7DaysData = total_price_per_day_data;
    var last7DaysDataSortie = total_price_per_day_Sortie;
</script>

{% endblock %}